/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-texto: #ffffff;
  --cor-hover: #2c29f0;
  --cor-de-fundo: #f0a832;
  --segunda-cor-de-fundo: #54799b;
  --terceira-cor-de-fundo: #8cb0d1;
  --terceira-cor: #5cf032;
  --cor-de-link: #577050;
  --small-padding: 1em;
  --medium-padding: 3em;
  --large-padding: 6em;
  --largura-maxima: 75em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--cor-de-texto);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol,
ul,
li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--cor-de-texto);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: var(--small-padding) 2em;
  background-color: var(--segunda-cor-de-fundo);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu__toogle-nav {
  display: block;
  background-color: transparent;
  background-image: url(../assets/menu_icon.png);
  background-size: cover;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
}

.menu__toogle-nav img {
  width: 100%;
}

.navbar {
  display: none;
}

.toogle-menu {
  display: block;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu__list__item {
  text-align: center;
}

.menu__list__item a {
  transition: ease 0.5s;
}

.menu__list__item a:hover {
  color: var(--cor-de-fundo);
  transition: ease 0.5s;
}

/*Sessão Title*/

section.title {
  margin-top: 6em;
  padding: var(--small-padding);
}

.title__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.title__profile {
  width: 15em;
  border-radius: 50%;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
}

.title__network {
  display: flex;
  align-items: center;
  gap: 1em;
}

/*Sessão About*/

section.about{
  background-color: var(--segunda-cor-de-fundo);
  padding: var(--small-padding);
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.about__title {
  font-size: 1.5em;
}

/* Seção Skills */
section.skills {
  background-color: var(--terceira-cor-de-fundo);
  padding: var(--small-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.skills__line {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.skills__box {
  height: 10em;
  background-color: var(--cor-de-texto);
  color: #2A7AE4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 10em;
  gap: 1em;
}

/*Sessão Hobbies*/


/* Experiência Acadêmica*/

/* section.academic{

} */

/* experiência*/

/* section.experience{

} */

/*Contato*/

/* section.formcontato{

} */

/*footeer*/

/* section.footer{
   
} */

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 52em) {
  /* Menu */
  .navbar {
    display: block;
  }

  section.menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-padding) var(--large-padding);
  }

  .menu__toogle-nav {
    display: none;
  }

  .menu__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /*title*/
  section.title {
    padding: 1em 6em;
    display: flex;
    justify-content: center;
  }
  
  .title__container {
    font-size: 1.2em;
  }

  .title__profile {
    width: 20em;
  }

  /* Sobre */
  section.about{
    padding: 3em var(--large-padding);
  }
  
  .about__container {
    font-size: 1.2em;
  }

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 27em) {
  /*Menu*/
  section.menu {
    padding: 1em 3em;
  }

  /*Titulo*/
  section.title {
    font-size: 1.3em;
    margin-top: 4em;
    padding: var(--small-padding) var(--medium-padding);
  }

  .title__div {
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
  }

  .title__container {
    text-align: left;
    align-items: start;
    gap: 2em;
  }

  /*Sessão sobre*/
  section.about{
    padding: 2em var(--medium-padding);
    font-size: 1.2em;
  }

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
